.row-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

/* Popup */

  .r_popup, .r_popup .modal-dialog {
      max-width: 93vw;
      max-height: 90vh;
      width: fit-content;
      width: -moz-fit-content;
      margin: auto;
  }
  
  .r_popup .modal-body {
      padding: 0;
      overflow: hidden;
  }

  .r_popup iframe {
    width: 90vw;
    height: 85vh;
    border: 0; }
  .r_popup img {
    max-height: 85vh;
    max-width: 90vw; }

.img-popup {
  cursor: pointer; }

/* Image cliquable */
.imgclick {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: fit-content;
  width: -moz-fit-content; }
  .imgclick img {
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear; }
  .imgclick a, .imgclick a:hover {
    display: block;
    color: #fff; }
  .imgclick .imgclickcontent {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.imgclick:hover img {
  transform: scale(1.1);
  filter: brightness(50%); }

.imgclick:hover .imgclickcontent {
  display: block; }

/* Flipcard */

.flipcard2 {cursor: pointer;}
.flipcard2 .back {display: none;}
.flipcard2.hover .front {display: none;}
.flipcard2.hover .back {display: block;}